@font-face {
  font-family: "iconfont"; /* Project id 3918281 */
  src: url('iconfont.woff2?t=1681362526905') format('woff2'),
       url('iconfont.woff?t=1681362526905') format('woff'),
       url('iconfont.ttf?t=1681362526905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-evaluation:before {
  content: "\e87b";
}

.icon-winfo-icon-chuanbotuli:before {
  content: "\e651";
}

.icon-a-11chuanbogenzong:before {
  content: "\e650";
}

.icon-diandongchuanbo:before {
  content: "\e602";
}

.icon-MadebyMade-Vector-LineIcons-Nautical-Outline-:before {
  content: "\e668";
}

.icon-haitu:before {
  content: "\ec3a";
}

.icon-luyouqi:before {
  content: "\e838";
}

.icon-wenanfengmian:before {
  content: "\e616";
}

.icon-gerenzijin:before {
  content: "\e659";
}

.icon-fenzu:before {
  content: "\e629";
}

.icon-yunziyuan:before {
  content: "\e68b";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-xiaoxi1:before {
  content: "\e600";
}

.icon-xiaoxi2:before {
  content: "\e8bd";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-fuwuleixing:before {
  content: "\e648";
}

.icon-kehuleixing:before {
  content: "\e607";
}

.icon-xiaoxizhongxin:before {
  content: "\e8be";
}

.icon-ziyuan:before {
  content: "\ef1d";
}

.icon-gonggao1:before {
  content: "\e614";
}

.icon-targetbazi:before {
  content: "\e6ec";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-jingxiangguanli:before {
  content: "\e60e";
}

.icon-server-host-full:before {
  content: "\e929";
}

