<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongle.springboot.mapper.VisMapper">

    <select id="selectVisList" resultType="com.yongle.springboot.entity.Vis">
        select vis.*,host.ipaddr as ipaddr from vis
        left join host
        on  vis.rangce_id =host.rangce_id and vis.number=host.number
        left join flag
        on  vis.rangce_id =flag.rangce_id and vis.number=flag.number
        <where>
            (vis.number =0 and vis.rangce_id=#{rangceId}) OR (vis.rangce_id=2 and flag.user_id=#{userId})
        </where>
        ORDER BY number
    </select>
</mapper>
